# ESP-IDF Build Artifacts
build/
**/build/
**/sdkconfig
**/sdkconfig.old
**/managed_components/


# Node.js / Apps / Gateway
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment & Secrets
.env
.env.local
secrets.h

# IDE & OS Files
.vscode/*.git*
.idea/
*.swp
*.DS_Store
Thumbs.db
